:root {
  --primary-color: rgb(4, 4, 10);
  --secondary-color: rgb(94, 120, 235);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'lato', sans-serif;
  line-height: 1.7em;
  background: rgb(6, 6, 17);
}

a {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p{
  margin: 6px 0;
  color: #fff;
}

.container {
  margin: auto;
  max-width: 1290px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #fff;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: var(--secondary-color);
  margin-top: 20px;
  padding: 10px 20px;
  border: none; 
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

#navbar {
  color: #fff;
  overflow: auto;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20PX;
  text-align: left;
}

#navbar ul li a:hover {
  background: var(--secondary-color);
  color: #fff;
}

#showcase .showcase-content {
  color: #fff;
  width: 50%;
  text-align: left;
  padding-top: 110px;
}

#showcase .showcase-content h1 {
  font-size: 50px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

#showcase .container {
  width: 100%;
}

.social {
  display: flex;
  padding-top: 50px;
}

.social a {
  color: var(--secondary-color);
  padding-right: 10px;
}

